<nav class="justify-content-center navbar navbar-light" style="background-color: #e3f2fd; min-height: 50px;">
  <%= image_tag("log.png", alt: "rss feed", id: 'logo')  %> <p class='h4'> BestLeagueFootball</p>
</nav>

<main>
  <nav class="navbar navbar-expand-lg navbar-dark", style="background-color: #006400;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Главная", root_url, method: :get,  class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Игры чемпионатов", league_matches_url, method: :get, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to "Статистика чемпионата", league_champ_stat_url, method: :get, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to "Статистика клубов", league_club_stat_url, method: :get, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Стадионы", league_countries_url, method: :get,  class: 'nav-link active' %>
        </li>
      </ul>
    </div>
  </nav>
  <div class='shadow col-10 offset-1'>
    <table class='table table-borderless'>
      <thead>
        <tr>
          <th>Стадион</th>
          <th>Вместимость</th>
          <th>Город</th>
        </tr>
      </thead>
      <tbody>
        <% @stadiums.each do |stadium| %>
          <tr>
            <td><%= stadium.name %></td>
            <td><%= stadium.capacity %></td>
            <td><%= stadium.city_name %></td>
          <tr>
        <% end %>
      </tbody>
    </table>
  </div>
</main>
